/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("/assets/photo/bg3.png");
}
th,td {
  text-align: left;
}


@media screen and (max-device-width: 512px), screen and (max-width:512px) {
  .img-responsive {
    height: 70px !important;
    width: 70px !important;
    margin-top: 8px !important;
  }
}